﻿
@{
    ViewBag.Title = "Test1";
}

<p></p><br />

姓名：<input type="text" name="name" value="" /><br />
<p></p>
帳號：<input type="text" name="name" value="" /><br />
<p></p>
密碼：<input type="password" name="name" value="" /><br />
<p></p>
性別：<input type="radio" name="name" value="" />男性<input type="radio" name="name" value="" />女性<br />
<p></p>
興趣：<input type="checkbox" name="name" value="" />游泳<input type="checkbox" name="name" value="" />閱讀<input type="checkbox" name="name" value="" />看電影<br />
<p></p>
自我介紹：<textarea rows="2"></textarea>