﻿
@{
    ViewBag.Title = "Test2";
}

<h2>Test2</h2>
姓名：@Html.TextBox("name", "")<br /><p></p>
帳號：@Html.TextBox("user", "")<br /><p></p>
密碼：@Html.Password("password", "")<br /><p></p>
性別：
@Html.RadioButton("isNew", "0") 男性
@Html.RadioButton("isNew", "1") 女性<br /><p></p>

興趣：
@Html.CheckBox("swim", false)游泳
@Html.CheckBox("read", false)閱讀
@Html.CheckBox("movie", false)看電影<br /><p></p>

自我介紹：@Html.TextArea("AOFJAFI")


